<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809771467523-d5jpc0kn171fgpim97hhsd84ugbf2eco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809771467523-d5jpc0kn171fgpim97hhsd84ugbf2eco</string>
	<key>API_KEY</key>
	<string>AIzaSyBMKvlHDV-We8_eZB0iVb8ekzF_3z2LY-c</string>
	<key>GCM_SENDER_ID</key>
	<string>809771467523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.code.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tech-8ee17</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-8ee17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809771467523:ios:b11c2548503076b77a9f36</string>
</dict>
</plist>